#comments-form-container {
  border: 1px solid $border-color;
  background-color: $white;
  border-radius: 5px;
  margin-top: 10px;
  padding: $gutter-padding / 2;
  padding-right: $gutter-padding * 0.75;

  h3 {
    margin: 0;
    padding: $gutter-padding / 2;
    @include fontSize($font-size-l);
  }

  #comment-form {
    display: flex;
    flex-wrap: wrap;
  
    .comment-form-field {
      padding: 0 $gutter-padding $gutter-padding / 2 $gutter-padding / 2;
      width: 100%;
      box-sizing: border-box;
      &:not(.comment-textarea) {
        @include for-tablet-landscape {
          width: 50%;
        }
      }
    
      label {
        display: block;
        width: 100%;
        margin-bottom: 5px;
      }
    
      input {
        display: block;
        width: 100%;
        min-height: 25px;
        border: solid 1px $border-color;
        border-radius: 3px;
        line-height: 1.5rem;
        padding: 3px 7px 3px 7px;
        outline: none;
      
        &.error {
          border-color: $error-color;
        }
    
        &.focus {
          border-color: $secondary-color;
        }
      }
    
      textarea {
        @extend input;
        min-height: 5rem;
        border: solid 1px $border-color;
        @include for-tablet-landscape {
          width: 100%;
        }
      }
    }

    .form-button {
      margin: $gutter-padding / 4 $gutter-padding / 4 $gutter-padding / 2 $gutter-padding / 2;
    }
  
  }

  #notice {
    padding-left: $gutter-padding / 2;
    color: $secondary-color;
  }  
  
}

