
$header-height-tablet-portrait: 87px;
$header-height-tablet-landscape: 55px;
$footer-height: 50px;
.hidden {
  display: none;
}
.modal {
	position: absolute;
	top: $header-height-mobile + 1;
  bottom: $footer-height;
	@include for-tablet-portrait {
		top: $header-height-tablet-portrait + 1;
		bottom: $footer-height;
	}
	@include for-tablet-landscape {
		top: $header-height-tablet-landscape + 1;
		bottom: $footer-height;
	}	
  width: 100%;
  background-color: $white;
}
