@import '~styles/layout.scss';

.articles {
	width: 100%;

	@include for-tablet-portrait {
		width: 85%;
	}

	@include for-tablet-landscape {
		width: 75%;
		max-width: 1000px;

	}

	@include for-desktop {
		width: 100%;
		max-width: 1600px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.spinner {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
	}
}