.categories-container {
	width: 100%;
	@include ancho;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
  border: 1px solid $border-color;
  background-color: $white;
  border-radius: 5px;
	margin-bottom: $gutter-padding / 2;	
	padding: $gutter-padding;

	.categories-header h1 {
		@include fontSize($font-size-xl);
		margin: 0 $gutter-padding $gutter-padding $gutter-padding;
		padding-bottom: $gutter-padding / 2;
		border-bottom: 1px solid $border-color;
	}
	
}

.categories {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

