.article {

  padding: $gutter-padding;
  border: 1px solid #ddd;
  background-color: #fcfcfc;
  border-radius: 5px;
  margin-bottom: $gutter-padding / 2;

  .article-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
    margin-bottom: $gutter-padding;

    .article-title {
      @include fontSize($font-size-xl);
      margin-top: -4px;
      margin-bottom: 0;
      padding-right: $gutter-padding;
      @include for-tablet-landscape {
        @include fontSize($font-size-xxl);
      }
    }

    .article-category {
      @include fontSize($font-size);
      padding-bottom: $gutter-padding / 2;
    }
  }

  .article-content {


    @mixin media-hover($scale, $opacity) {
      &:hover {
        transform: scale($scale);
        opacity: $opacity;
        transition: 0.2s linear;
      }
    }

    .article-video-container {
      position: relative;
      clear: both;
      height: 0;
      padding-bottom: percentage(315 / 560);
      margin: 0 $gutter-padding / 2 $gutter-padding 0;
      @include media-hover(1.01, 1);
      transition: 0.2s linear;
    }


    .article-video {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border: 1px solid $border-color;
      padding: 2px;
    }

    .article-image-container {
      padding-right: $gutter-padding / 2;

      img {
        width: 100%;
        margin-right: $gutter-padding;
        margin-bottom: $gutter-padding;
        border: 1px solid $border-color;
        padding: 2px;
        opacity: 1;
        transition: 0.2s linear;
  
        @include media-hover(1.03, 0.8);
  
        @include for-tablet-portrait {
          float: left;
          width: 40%;
          max-width: 350px;
        }
      }      
    }

    .article-summary {
      padding: 0;
    }

  }

  .article-footer {
    clear: both;
    display: flex;
    justify-content: space-between;
    padding-top: $gutter-padding;
    border-top: 1px solid #ddd;

    .article-author {

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .article-author-name {
        @include fontSize($font-size-s);
        
        .author-name-title {
          color: lighten($text-color, 40);
        }
      }

      .article-author-picture {

        & img {
          width: 40px;
          border-radius: 25%;
        }
      }
    }

    .article-status {

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;

      .article-timestamp {
        @include fontSize($font-size-s);
      }

      .article-comments-number {
        @include fontSize($font-size);
        margin-top: $gutter-padding / 2;
      }
  
    }

  }

  @include for-tablet-portrait {
    margin-bottom: $gutter-padding;
  }
  
}
