.article {

  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fcfcfc;
  border-radius: 5px;
  margin-bottom: 10px;

  .article-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;

    .article-title {
      @include fontSize($font-size-xl);
      margin-top: -4px;
      margin-bottom: 5px;
      padding-right: 40px;
    }

    .article-category {
      @include fontSize($font-size-s);
    }
  }

  .article-content-wrapper {

    display:block;   

    .article-content {

      .article-image {

        img {
          width: 40%;
          float: left;
          object-fit: cover;
          margin-right: 20px;
          margin-bottom: 20px;
          border-radius: 5px;
  
          @include for-tablet-portrait {
            width: 50%;
            max-width: 300px;
          }
        }
  
      }
  
      .article-summary {
        padding: 0;
      }
  
    }
  
  }

  .article-footer {
    clear: both;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #ddd;

    .article-author {

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .article-author-name {
        @include fontSize($font-size-s);
        
        .author-name-title {
          color: $link-hover-color;
        }
      }

      .article-author-picture {

        & img {
          width: 40px;
          border-radius: 50%;
        }
      }
    }

    .article-status {

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;

      .article-timestamp {
        @include fontSize($font-size-s);
      }

      .article-comments-number {
        margin-top: 10px;
      }
  
    }

  }

  @include for-tablet-portrait {
    margin-bottom: 20px;
  }
  
}
