@import 'normalize';
@import '~styles/utils';
@import '~styles/settings';
@import '~styles/layout';


p, div {
	@include fontSize($font-size-l);
	font-family: $font-family;
}

.hidden {
	display: none;
}

h1 {
	a {
		text-decoration: none;
		color: $link-color;
		&:hover {
			color: $link-hover-color;
		}
	}
}

.container-main {
	display: flex;
	justify-content: center;
	padding: 20px;
	width: 100%;
	padding-bottom: $footer-height + 20px;;
	box-sizing: border-box;
	margin: 0 auto;

	@include for-tablet-portrait {
		position: fixed;
		top: $header-height-tablet-portrait;
		bottom: $footer-height;
		padding-bottom: 20px;
		left: 0;
		right: 0;
		overflow: auto;
	}

	@include for-tablet-landscape {
		top: $header-height-tablet-landscape;
	}

}