@import 'normalize';
@import '~styles/utils';
@import '~styles/settings';
@import '~styles/layout';

body {
	background-color: $background-color;
	color: $text-color;
}

p, div {
	@include fontSize($font-size);
	font-family: $font-family;
	margin-top: 0;
	line-height: 1.5rem;
}

h1, h2, h3, h4, h5 {
	font-family: $font-family-main;
}

.hidden {
	display: none !important;
}

// default link styles
a {
	text-decoration: none;
	color: $link-color;
	outline: none;

	&:hover {
		color: $link-hover-color;
	}
}

// main page container
.container-main {
	position: absolute;
	display: flex;
	justify-content: center;
	padding: 10px 10px $footer-height 10px;
	width: 100%;
	box-sizing: border-box;
	margin: 0 auto;
	@include for-tablet-portrait {
		padding: 20px 20px $footer-height 20px;
	}

	&::after {
		content: '';
		// background: url('~assets/header-background.jpg') repeat center ;
		background-color: $background-color;
		opacity: 0.1;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;
	}	
}

// spinner for loading state of components
.spinner {
	text-align: center;
}

// form buttons
.form-button {
	display: block;
	background-color: $primary-color;
	color: $white;
	padding: $gutter-padding / 3 $gutter-padding;
	outline: none;
	border: 0;
	border-radius: 5px;
	cursor: pointer;

	&:hover {
		background-color: $secondary-color;
		font-weight: bold;
	}
	&:disabled {
		background-color: lighten($primary-color, 20);
		cursor: inherit;
	}
}

// mixin for page main container
@mixin ancho {
	@include for-tablet-portrait {
		width: 95%;
		margin-bottom: $gutter-padding;
	}
	@include for-tablet-landscape {
		width: 75%;
		max-width: 1000px;
	}
	@include for-desktop {
		width: 65%;
		max-width: 1400px;
	}
}