@import 'utils';

// colors
$primary-color: #555;
$secondary-color: #3D9970;
$text-color: #444;
$link-color: $text-color;
$link-hover-color: $secondary-color;
$white: #f6f6f6;
$gray: #a0a0a0;
$error: #ff6666;
$border-color: #bbb;
$background-color: #ccc;

// font sizes
$font-size-xxxl: 36;
$font-size-xxl: 24;
$font-size-xl: 20;
$font-size-l: 16;
$font-size: 15;
$font-size-s: 12;
$font-size-xs: 10;
$font-size-xxs: 8;

// fonts
$font-family: 'Muli', sans-serif;
$font-family-main: 'Cabin', sans-serif;

// Breakpoints
$breakpoint-tablet-portrait: 600px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-desktop: 1200px;

// shadows
$box-shadow-default: 1px 1px 3px 0px $text-color;
$box-shadow-bottom: -1px -1px 3px 0px $gray;

// header heights
$header-height-mobile: 55px;
$header-height-tablet-portrait: 102px;
$header-height-tablet-landscape: 102px;
$footer-height: 50px;

// gutter
$gutter-padding: 20px;

// animations
@keyframes bounce {
  from {
		transform: rotate(-5deg) scale(1.0);
  }
  to {
    transform: rotate(5deg) scale(1.05);
  }
}