@import 'utils';

$primary-color: #5566ff;
$link-color: #1133cc;
$white: #fafafa;
$gray: #a0a0a0;

$font-size-xxxl: 36;
$font-size-xxl: 24;
$font-size-xl: 20;
$font-size-l: 16;
$font-size: 14;
$font-size-xs: 10;
$font-size-xxs: 8;

$font-family: 'Muli', sans-serif;
$font-family-main: 'Cabin', sans-serif;

// Breakpoints
$breakpoint-tablet-portrait: 600px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-desktop: 1200px;

$box-shadow-default: 1px 1px 3px 0px $gray;
