.article-detail {
	position: relative;
	padding: 20px;
	width: 100%;
  border: 1px solid $border-color;
  background-color: #fcfcfc;
  border-radius: 5px;
	margin-bottom: $gutter-padding / 2;	
	
	@include for-tablet-portrait {
		width: 80%;
		max-width: 700px;
		margin-bottom: $gutter-padding;
	}

	@include for-tablet-landscape {
		width: 70%;
		max-width: 900px;
	}

	.title-container {

		padding-bottom: 10px;
		border-bottom: 1px solid $border-color;

		.article-detail-title {
			@include fontSize($font-size-xl);
			margin: 0;
			padding-right: 40px;
		}
	
		.like-button {
			position: absolute;
			right: 8px;
			top: 10px;
			outline: none;
			color: $link-color;
			border: 0;
			background: transparent;
			@include fontSize($font-size-xl);
			cursor: pointer;
	
			@media (hover: hover) {
				&:hover {
					color: $link-hover-color;
				}
			}
		}

	}

	.article-detail-media {

		margin-top: $gutter-padding;

		img {
			width: 100%;
			border-radius: 5px;
		}
	}

	.article-detail-body {
		padding-top: $gutter-padding / 2;
	}

  .article-detail-footer {
    clear: both;
    display: flex;
    justify-content: space-between;
    padding: $gutter-padding / 2 0 $gutter-padding 0;
    border-top: 1px solid #ddd;

    .article-detail-author {

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .article-detail-author-name {
				@include fontSize($font-size-s);

				.author-name-title {
          color: $link-hover-color;
        }
      }

      .article-detail-author-picture {
        & img {
          width: 40px;
          border-radius: 50%;
        }
      }
    }

    .article-detail-timestamp {
      @include fontSize($font-size-s);
    }

	}	
	
	.comments-section {

		h2 {
			@include fontSize($font-size-xl);
			border-bottom: 1px solid #ddd;
			padding-bottom: 5px;
			margin-top: 0;
    	margin-bottom: $gutter-padding;
		}
	}
}