.article-detail {
	position: relative;
	padding: $gutter-padding;
	width: 100%;
  border: 1px solid $border-color;
  background-color: #fcfcfc;
  border-radius: 5px;
	margin-bottom: $gutter-padding / 2;	
	
	@include ancho;

	.title-container {

		padding-bottom: $gutter-padding / 2;
		border-bottom: 1px solid $border-color;

		.article-detail-title {
			@include fontSize($font-size-xl);
			margin: 0;
			padding-right: 40px;

			@include for-tablet-landscape {
				@include fontSize($font-size-xxl);
			}
		}
	
		.like-button {
			position: absolute;
			right: 8px;
			top: 10px;
			outline: none;
			color: $link-color;
			border: 0;
			background: transparent;
			@include fontSize($font-size-xl);
			cursor: pointer;

			.fas {
				animation: bounce 0.5s ease-in-out infinite alternate;
			}
	
			&:hover {
				color: $link-hover-color;
			}

		}

		.article-category {
      @include fontSize($font-size);
      padding-bottom: $gutter-padding / 2;
    }

	}

	.article-detail-media {

		margin-top: $gutter-padding;

		img {
			width: 100%;
		}
	}

	.article-detail-body {
		padding-top: $gutter-padding / 2;
	}

  .article-detail-footer {
    clear: both;
    display: flex;
    justify-content: space-between;
    padding: $gutter-padding / 2 0 $gutter-padding 0;
    border-top: 1px solid #ddd;

    .article-detail-author {

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .article-detail-author-name {
				@include fontSize($font-size-s);

				.author-name-title {
          color: lighten($text-color, 40);
        }
      }

      .article-detail-author-picture {
        & img {
          width: 40px;
          border-radius: 25%;
        }
      }
    }

    .article-detail-timestamp {
      @include fontSize($font-size-s);
    }

	}	
	
	.comments-section {

		h2 {
			@include fontSize($font-size-xxl);
			border-bottom: 1px solid #ddd;
			padding-bottom: $gutter-padding / 4;
			margin-top: 0;
    	margin-bottom: $gutter-padding;
		}

		.comments-nav {
			display: flex;
			padding: $gutter-padding / 2 0 0 0;

			.form-button {
				margin-right: $gutter-padding / 2;
			}
		}

	}
}
