.category {
  width: 20%;
  min-width: 160px;
  text-align: center;
  margin: 0;
  padding: $gutter-padding / 2;	
  
  a {
    display: block;
    padding: $gutter-padding;
    text-transform: uppercase;
    text-decoration: none;
    color: $link-color;
    background-color: darken($white, 5);
    border: 1px solid $border-color;
    border-radius: 5px;
    @include fontSize($font-size-l);
    font-weight: bold;
    transition: 0.1s linear;
  

    &:hover {
      color: $link-hover-color;
      font-weight: bold;
      background-color: darken($white, 5);
      transition: 0.1s linear;
      transform: scale(1.1);
    }
  }
}
