<section class="container">
	<header>
		<h2>Add Comment</h2>
	</header>
  <form id="comment-form">
    <div class="comment-form-field">
      <label for="name">Name *</label>
      <input class="comment-input" type="text" name="name" id="comment-form-name" required>
    </div>
    <div class="comment-form-field">
      <label for="email">Email *</label>
      <input class="comment-input" type="email" name="email" id="comment-form-email" required>
    </div>
		<div class="comment-form-field comment-textarea">
			<label for="comment">Comment *</label>
			<textarea class="comment-input" name="comment" id="comment-form-comment" maxlength="500" required
				placeholder="Write a comment, maximum 500 characters"></textarea>
		</div>
    <input type="submit" value="Submit" id="comment-form-submit" />
    <button type="button" id="comment-form-cancel">Cancel</button>
  </form>
</section>