<footer class="footer">
	<div class="footer-title"><h3><a href="/">KeepBlogging</a></h3></div>
	<span class="fa-stack fa-2x hidden" id="btn-top">
		<i class="fas fa-circle fa-stack-2x"></i>
		<i class="fas fa-arrow-up fa-stack-1x fa-inverse"></i>
	</span>
	<div id="footer-text">List of Articles</div>
</footer>