<footer class="footer">
	<div class="footer-title">Keep Blogging</div>
	<span class="fa-stack fa-2x hidden" id="btn-top">
		<i class="fas fa-circle fa-stack-2x"></i>
		<i class="fas fa-arrow-up fa-stack-1x fa-inverse"></i>
	</span>
</footer>