<header class="header-main">
	<div class="title-container">
		<a href="/">
			<i class="fas fa-glasses logo"></i>
			<h1 id="title" class="title"></h1>
		</a>
	</div>
	<div class="header-content-wrapper">
		<nav class="menu">
			<a title="Home" id="home" href="/">Home</a>
			<a title="Music" id="menu-category-1" href="/?category=1">Art</a>
			<a title="Tech" id="menu-category-2" href="/?category=2">Tech</a>
			<a title="Science" id="menu-category-3" href="/?category=3">Science</a>
			<a title="Art" id="menu-category-4" href="/?category=4">Music</a>
			<a title="More..." id="menu-category-more" href='/categories'>More...</a>
		</nav>
		<div class="header-register-search">	
			<div class="search">
				<%- include('../partials/search-form.ejs') %>
			</div>
			<nav class="user-links">
				<a class="sign-in" href="/sign-in">Sign In</a>
				<a class="register" href="/register">Register</a>
			</nav>
		</div>
	</div>
	<a id="hamburger-icon" class="hamburger-icon" href="#">
		<i class="fa fa-bars"></i>
	</a>
</header>
