<div class="title-container">
	<h1 id="title" class="title"></h1>
</div>
<div class="menu">
	<a title="Home" id="home" href='/'>Home</a>
	<a title="Categories" id="categories" href='/categories'>Categories<a/>
	<a id="hamburger-icon" class="hamburger-icon" href="#">
		<i class="fa fa-bars"></i>
	</a>
</div>