<form id="search-form" action="/" method="GET">
	<input class="search-form-input" id="search-text" name="search" placeholder="Search...">
	<button type="submit" id="search-form-submit"><i class="fas fa-search"></button>
</form>