@import '~styles/settings.scss';
@import '~styles/layout.scss';

.fixed {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
}

.static {
	position: static;
}

.header-main {
  display: flex;
  align-items: center;
	justify-content: center;
	font-family: $font-family-main;
  background-color: $white;
  min-height: $header-height-mobile;
	padding: 0 20px;
	box-shadow: $box-shadow-default;

	@include for-tablet-portrait {
		height: $header-height-tablet-portrait;
		flex-direction: column;
		align-items: flex-start;
	}

	/*
	@include for-tablet-landscape {
		height: $header-height-tablet-landscape;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}
	*/

	a {
		display: flex;
		font-family: $font-family-main;
		color: $primary-color;
		text-decoration: none;
	}

  .title-container {
    align-items: center;
		justify-content: center;
		padding-right: 20px;
		min-height: 50px;
		width: 200px;

		a {
			&:hover {
				color: $link-hover-color;
				font-weight: bold;
				transition: 0.1s linear;
				.logo {
					color: $link-hover-color;
				}
			}
		}

		.logo {
			margin-top: 2px;
			padding-right: 10px;
			color: $primary-color;
			height: 40px;
			font-size: 1.5rem;
			line-height: 2.5rem;
			&:hover {
				color: $link-hover-color;
			}
		}		

		.title {
			margin: 10px 0;
			@include fontSize($font-size-xl);
		}

		@include for-tablet-portrait {
			justify-content: flex-start;
			padding-right: 0;
			border: 0
		}
	}

	.header-content-wrapper {
		display: none;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		@include for-tablet-portrait {
			display: flex;
			flex-direction: column;
			border-top: 1px solid #ddd;
			padding: 0px 10px;
		}

		/*
		@include for-tablet-landscape {
			flex-direction: row;
			border: none;
		}*/

		.menu, .user-links, .search {
			padding: 0px 20px;
			display: flex;
			align-items: center;
			justify-content: center;

			a {
				text-transform: uppercase;
				text-decoration: none;
				color: $link-color;
				@include fontSize($font-size);
				padding: 5px;

				@include for-tablet-portrait {
					padding: 5px 10px;
				}
	
				@media (hover: hover) {
					&:hover {
						color: $link-hover-color;
						font-weight: bold;
						transform: scale(1.2);
						transition: 0.1s linear;
					}
				}
				
				&.menu-active {
					color: $secondary-color;
					font-weight: bold;
				}
			}
		}

		.header-register-search {
			display: flex;
			flex-direction: column;
			@include for-tablet-portrait {
				position: absolute;
				top: 0px;
				right: 20px;
				width: auto;
				flex-direction: row;
				justify-content: flex-end;
			}

			/*
			@include for-tablet-landscape {
				flex-direction: row;
				position: inherit;
				width: auto;
			}*/

			.search {
				padding: 15px;
				@include for-tablet-portrait {
					padding: 10px;
				}

				#search-form {
					display: flex;
					margin-right: 20px;
					
					.search-form-input {
						width: 120px;
						@include fontSize($font-size);
						border: 1px solid transparentize($gray, 0.5);
						border-radius: 3px;
						padding: 4px;
						margin-right: -20px;			
					}

					button {
						background: transparent;
						padding: 0;
						border: none;
						color: $gray;
					}
				}				
			}

			.user-links {
				width: auto;
				padding-right: 0;

				@include for-mobile {
					padding-right: 20px;
				}

				.sign-in {
					white-space: nowrap;
				}

				.register {
					padding-right: 0;
				}
			}
		}
	}
	
	.hamburger-icon {
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		padding: 15px 20px;
		@include fontSize($font-size-xl);

		@include for-tablet-portrait {
			display: none;
		}
	}

	&.menu-open {

		@include for-mobile {
			display: flex;
			flex-direction: column;
		
			.title-container {
				width: 100%;
			}
			.header-content-wrapper {
				display: flex;
				width: 100%;
				flex-direction: column;
			}
			.menu, .user-links, .search {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				border-top: 1px solid transparentize($gray, 0.5);
				width: auto;
			}
			.menu{
				width: 100%;
			}
			.header-register-search {
				display: flex;
				flex-direction: column;
				padding: 5px 20px;

				/*
				@include for-tablet-landscape {
					flex-direction: row;
				}
				*/

			}
		}
	}		
			
}

