@import "~styles/settings.scss";
@import "~styles/layout.scss";

header {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  padding: 0 20px;

  .title-container {
    display: flex;
    align-items: center;
		justify-content: center;
		padding-right: 20px;

    a {
			color: $primary-color;
			text-decoration: none;
    }

    .logo {
			padding-right: 5px;
			color: $primary-color;
      height: 40px;
    }
	}

	.header-content-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	
		.menu {
			display: flex;
		}

		.user-links, .search {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		a {
			text-transform: uppercase;
			text-decoration: none;
			color: $link-color;
			@include fontSize($font-size-l);
			padding: 20px 10px;

			&:hover {
				color: lighten($link-color, 25%);
			}

			display: none;

			&.hamburger-icon {
				display: block;
				position: relative;
			}
			@include for-tablet-portrait {
				display: block;
				&.hamburger-icon {
					display: none;
				}
			}
			&.menu-active {
				color: green;
			}
		}
	
		.logo {
			font-size: 2em;
			color: $primary-color;
			padding-right: 5px;
		}

		&.menu-open {
			flex-direction: column;
	
			.title-container {
				width: 100%;
	
				.logo {
					padding-top: 15px;
				}
			}
	
			.menu {
				flex-direction: column;
			}
	
			a {
				display: block;
				text-align: center;
				&.hamburger-icon {
					position: absolute;
					top: 10px;
					right: 20px;
					display: block;
				}
			}
		}			
	}	

	& .menu-open {
		flex-direction: column;
	}
}
