footer.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
  display: flex;
  align-items: center;
	justify-content: center;
	font-family: $font-family-main;
  background-color: $white;
  height: $footer-height;
	padding: 0;
	box-shadow: $box-shadow-bottom;

	.footer-title {
		@include fontSize($font-size-l);
		padding-right: $gutter-padding;
		text-align: left;
	}

	#btn-top {
		font-size: 1rem;
    position: fixed;
		right: 10px;
		bottom: 10px;
		z-index: 1;
		cursor: pointer;
		color: $link-hover-color;
		
		
		&:hover {
			color: $link-color;
		}
	}

	#footer-text {
    display: flex;
		align-items: center;
		padding-left: $gutter-padding;
		color: darken($secondary-color, 20);
		border-left: 1px solid $gray;
		font-family: $font-family-main;
		@include fontSize($font-size-l);
		font-weight: bold;
		text-align: right;
	}
}


