@import '~styles/settings';

footer.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
  display: flex;
  align-items: center;
	justify-content: center;
	font-family: $font-family-main;
  background-color: $white;
  height: $footer-height;
	padding: 0 20px;
	box-shadow: $box-shadow-bottom;

	.footer-title {
		width: 100%;
		text-align: center;
	}

	#btn-top {
		font-size: 1rem;
    position: fixed;
		right: 10px;
		bottom: 10px;
		z-index: 1;
		cursor: pointer;
		color: $link-color;
		
		&:hover {
			color: $link-hover-color;
		}
	}
}


