.comments-nav {
	display: flex;
	padding: $gutter-padding / 2 0 0 0;

	.form-button {
		margin-right: $gutter-padding / 4;
		padding: 6px 15px;
		font-weight: bold;
	}

	.comments-pagination-info {
		margin-left: 10px;
		@include fontSize($font-size-s);
		display: flex;
    align-items: center;
	}
}
